extends ./../budgetLanding

block Budget-Content 
  - const money = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 2 })
  - const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  header.budget-container__header.r__budget-container__header
    p.budget-container__header__text.r__budget-container__header__text Recent Transactions
  section.modal--receipt.r__modal--receipt.closed
    i.fas.fa-window-close.modal--receipt__closure-icon.r__modal--receipt__closure-icon
    section.modal--receipt__digital-receipt.r__modal--receipt__digital-receipt
      section.modal--receipt__digital-receipt__container.r__modal--receipt__digital-receipt__container
        header.modal--receipt__digital-receipt__container__header.r__modal--receipt__digital-receipt__container__header
          p.modal--receipt__digital-receipt__container__header__title.r__modal--receipt__digital-receipt__container__header__title Sample Location
          section.modal--receipt__digital-receipt__container__header__secondary-title-container.r__modal--receipt__digital-receipt__container__header__secondary-title-container 
            p.secondary-title.r__secondary-title Transaction Details
            p.secondary-title.r__secondary-title Total
        section.modal--receipt__digital-receipt__container__item-container.r__modal--receipt__digital-receipt__container__item-container
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__transaction-details-section__name.r__receipt-row__transaction-details-section__name PAC Auto Finance
              p.receipt-row__transaction-details-section__name.r__receipt-row__transaction-details-section__name Car Payment
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99
          section.modal--receipt__digital-receipt__container__item-container__row.r__modal--receipt__digital-receipt__container__item-container__row
            section.receipt-row__transaction-details-section.r__receipt-row__transaction-details-section
              p.receipt-row__name-section__name.r__receipt-row__name-section__name Sample Item
            section.receipt-row__transaction-cost-section.r__receipt-row__transaction-cost-section
              p.receipt-row__cost-section__cost.r__receipt-row__cost-section__cost $5.99

        footer.modal--receipt__digital-receipt__container__footer.r__modal--receipt__digital-receipt__container__footer
          p.footer-title.r__footer-title Total
          p.footer-title.r__footer-title= `${money.format(5.99 * data.budget.transactions.recentTransactions.length)}`
  section.container--large.r__container--large 
    section.container--large__header.r__container--large__header 
      i.fas.fa-file-invoice-dollar.container--large__header__icon.r__container--large__header__icon
      p.container--large__header__title.r__container--large__header__title= `${'RECENT TRANSACTIONS'}`
    section.container--large__transaction-title-container.r__container--large__transaction-title-container
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title View Full Transaction
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title Transaction Type
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title Transaction Date
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title Transaction Location
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title Account
      section.container--large__transaction-title-container__transaction-title
        p.container--large__transaction-title-container__transaction-title__title Account Options
    section.recent-transaction-display.r__recent-transaction-display
      section.recent-transaction.r__recent-transaction 
        section.recent-transaction__section.r__recent-transaction__section
          button.button--extra-extra-small__view-receipt.r__button--extra-extra-small__view-receipt 
            i.fas.fa-receipt.button--extra-extra-small__view-receipt__icon.r__button--extra-extra-small__view-receipt__icon
            p.button--extra-extra-small__view-receipt__text.r__button--extra-extra-small__view-receipt__text View Full Transaction
        section.recent-transaction__section.r__recent-transaction__section
          p.recent-transaction__section__text.r__recent-transaction__section__text Withdrawal
        section.recent-transaction__section.r__recent-transaction__section
          p.recent-transaction__section__text.r__recent-transaction__section__text= `${new Date().getDate()} ${months[new Date().getMonth()]} ${new Date().getFullYear()}`
        section.recent-transaction__section.r__recent-transaction__section
          p.recent-transaction__section__text.r__recent-transaction__section__text Church
        section.recent-transaction__section.r__recent-transaction__section
          p.recent-transaction__section__text.r__recent-transaction__section__text Tithing
        section.recent-transaction__section.r__recent-transaction__section
          section.recent-transaction__section__part.r__recent-transaction__section__part
            p.recent-transaction__section__part__header Amount Donated 
            p.recent-transaction__section__part__text= `${money.format(5)}`