extends ./../budgetLanding

block Budget-Content 
  header.budget-container__header.r__budget-container__header
    p.budget-container__header__text.r__budget-container__header__text Transaction Planner
  section.container--large.r__container--large
    header.container--large__header.r__container--large__header
      i.fas.fa-file-invoice-dollar.container--large__header__icon.r__container--large__header__icon 
      p.container--large__header__title.r__container--large__header__title= `Planned Transactions`
    section.transaction-plan-display.r__transaction-plan-display
      section.transaction-plan.r__transaction-plan 
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Date 
          p.transaction-plan__part__text.r__transaction-plan__part__text 27 April 2022
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Account 
          p.transaction-plan__part__text.r__transaction-plan__part__text Expense
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Transaction Type 
          p.transaction-plan__part__text.r__transaction-plan__part__text Other
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Transaction Name 
          p.transaction-plan__part__text.r__transaction-plan__part__text British Suit
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Location
          p.transaction-plan__part__text.r__transaction-plan__part__text Online
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Amount 
          p.transaction-plan__part__text.r__transaction-plan__part__text $249.99
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Due Date 
          p.transaction-plan__part__text.r__transaction-plan__part__text 8th April 2022
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Timing 
          p.transaction-plan__part__text.r__transaction-plan__part__text Once
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Amount Saved
          p.transaction-plan__part__text.r__transaction-plan__part__text $200.00
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Apply Money
          form.form--transaction-plan.r__form--transaction-plan
            input.form__input--transaction-plan.r__form__input--transaction-plan(type="number" min="0" placeholder="$0.00")
            button.button--extra-extra-small__transaction-plan-small.r__button--extra-extra-small__transaction-plan-small Apply
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Paid In Full?
          button.button--extra-extra-small__transaction-plan-small.r__button--extra-extra-small__transaction-plan-small Paid
        section.transaction-plan__part.r__transaction-plan__part 
          header.transaction-plan__part__header.r__transaction-plan__part__header 
            p.transaction-plan__part__header__text.r__transaction-plan__part__header__text Status
          p.transaction-plan__part__text.r__transaction-plan__part__text Unpaid
      section.transaction-plan__alt.r__transaction-plan__alt 
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Date 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text 27 April 2022
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Account 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Debt
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Transaction Type 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Loan
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Lender
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text PAC Auto Finance
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Transaction Name 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Nissan Sentra
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Location 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Online
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Amount 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text $398.50
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Due Date 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text 8th April 2022
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Timing 
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Monthly
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Amount Saved
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text $250.00
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Apply Money
          form.form--transaction-plan.r__form--transaction-plan
            input.form__input--transaction-plan.r__form__input--transaction-plan(type="number" min="0" placeholder="$0.00")
            button.button--extra-extra-small__transaction-plan-small.r__button--extra-extra-small__transaction-plan-small Apply
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Paid In Full?
          button.button--extra-extra-small__transaction-plan-small.r__button--extra-extra-small__transaction-plan-small Paid
        section.transaction-plan__alt__part.r__transaction-plan__alt__part 
          header.transaction-plan__alt__part__header.r__transaction-plan__alt__part__header 
            p.transaction-plan__alt__part__header__text.r__transaction-plan__alt__part__header__text Status
          p.transaction-plan__alt__part__text.r__transaction-plan__alt__part__text Overpaid
      section.transaction-plan-creation.r__transaction-plan-creation.closed 
        form.form--full-width.r__form-full-width
          section.form__row--transaction.r__form__row--transaction
            - let accounts = [`Expense Fund`,`Savings Fund`,`Debt`,`Surplus`]
              section.form__section--select.r__form__section--select
                label.form__label--select.r__form__label--select Account
                select.form__select--accounts.r__form__select--accounts
                  each account in accounts 
                    option.form__select__option.r__form__select__option= `${account}`
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                input.form__input--medium__alt.r__form__input--medium__alt#transactionDate(type="date" value=`${new Date()}`)
                label.form__label--medium__alt-3.r__form__label--medium__alt-3(for="transactionDate") Date
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                input.form__input--small-short.r__form__input--small-short#location(type="text" placeholder="Location" maxLength="250" minLength="3")
                label.form__label--medium__alt-4.r__form__label--medium__alt-4(for="location") Location
            - let expenseTransactionTypes = [`Expense`, `Bill`, `Subscription`, `Other`]
            - let savingsTransactionTypes = [`Expense`, `Subscription`, `Vacations`, `Tuition`, `Other`]
            - let debtTransactionTypes = [`Credit Card`, `Loan`, `Taxes`, `Other`]
            - let surplusTransactionTypes = [`Expense`, `Subscription`, `Discretionary`, `Food`, `Other`]
              section.form__section--select.r__form__section--select.closed 
                label.form__label--select__transaction.r__form__label--select__transaction Transaction Type
                select.form__select--accounts.r__form__select--accounts.closed
                  each transaction in expenseTransactionTypes 
                    option.form__select__option.r__form__select__option= `${transaction}`
                select.form__select--accounts.r__form__select--accounts.closed
                  each transaction in savingsTransactionTypes 
                    option.form__select__option.r__form__select__option= `${transaction}`
                select.form__select--accounts.r__form__select--accounts.closed
                  each transaction in debtTransactionTypes 
                    option.form__select__option.r__form__select__option= `${transaction}`
                select.form__select--accounts.r__form__select--accounts.closed
                  each transaction in surplusTransactionTypes 
                    option.form__select__option.r__form__select__option= `${transaction}`
              section.form__section--select.r__form__section--select.closed 
                - const debtTimingsTwo = [`Once`,`Weekly`,`Bi-Weekly`,`Bi-Monthly`,`Monthly`,`Quarterly`,`Bi-Annually`,`Annually`]
                  label.form__label--select__transaction.r__form__label--select__transaction Timing
                  select.form__select--accounts.r__form__select--accounts                
                    each timing in debtTimingsTwo 
                      option.category-selection.r__category-selection(value=`${timing}`)= `${timing}`
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                input.form__input--small-short.r__form__input--small-short#transactionName(type="text" placeholder="Transaction Name" maxLength="250" minLength="3")
                label.form__label--medium__alt-4.r__form__label--medium__alt-4(for="transactionName") Transaction Name
              section.form__section--select.r__form__section--select.closed 
                label.form__label--select__transaction.r__form__label--select__transaction Biller | Creditor
                select.form__select--accounts.r__form__select--accounts.closed
                  each debt in data.budget.debts 
                    option.form__select__option.r__form__select__option= `${debt.lender}`
                  option PAC Auto Finance
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                input.form__input--small-short.r__form__input--small-short#transactionAmount(type="number" placeholder="$0.00")
                label.form__label--medium__alt-4.r__form__label--medium__alt-4(for="transactionAmount") Amount
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                input.form__input--medium__alt.r__form__input--medium__alt#transactionDate(type="date")
                label.form__label--medium__alt-3.r__form__label--medium__alt-3(for="transactionDate") Due Date
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed
                section.surplus-container.r__surplus-container 
                  p.surplus-container__text.r__surplus-container__text Surplus?
                  section.surplus-container__switch.r__surplus-container__switch 
                    section.surplus-container__switch__toggle.r__surplus-container__switch__toggle 
                      i.fas.fa-times.surplus-container__switch__toggle__icon.r__surplus-container__switch__toggle__icon
              section.form__section--transaction-plan.r__form__section--transaction-plan.closed 
                button.button--extra-extra-small__transaction-plan.r__button--extra-extra-small__transaction-plan(type="button") Submit
      button.button--borderless.r__button--borderless.open
        i.fas.fa-plus.button--borderless__icon.r__button--borderless__icon
        p.button--borderless__text.r__button--borderless__text Add Transaction Plan