mixin budgetCategory(iconType, icon, text)
  .create-budget-form__category-container__category 
    i.create-budget-form__category-container__category--icon(class=`${iconType} ${icon}`) 
    p.create-budget-form__category-container__category--text= `${text}` 

mixin budgetMainCategory(iconType, icon, text)
  .create-budget-form__row-container__main-category-display-container__category 
    i.create-budget-form__category-container__category--icon(class=`${iconType} ${icon}`)  
    p.create-budget-form__category-container__category--text= `${text}`

section.create-budget-form__form-section.r__create-budget-form__form-section.create-budget-form-question--full-page 
  header.create-budget-form__sub-header 
    p.create-budget-form__sub-header--text Select Main &amp; Sub Categories 
    button.create-budget-form__sub-header--finish-selecting Finish 
  section.create-budget-form__category-container
    +budgetCategory(`fas`, `fa-car`, `Transportation`) 
    +budgetCategory(`fas`, `fa-home`, `Housing`) 
    +budgetCategory(`fas`, `fa-thermometer-half`, `Utilities`) 
    +budgetCategory(`fas`, `fa-sms`, `Communications`) 
    +budgetCategory(`fas`, `fa-hamburger`, `Food`) 
    +budgetCategory(`fas`, `fa-film`, `Entertainment`) 
    +budgetCategory(`fas`, `fa-id-card`, `Insurance`) 
    +budgetCategory(`fas`, `fa-baby`, `Children`) 
    +budgetCategory(`fas`, `fa-dog`, `Pets`) 
    +budgetCategory(`fas`, `fa-comments-dollar`, `Discretionary`) 
    +budgetCategory(`fas`, `fa-shower`, `Personal Care`) 
    +budgetCategory(`fas`, `fa-table-tennis`, `Lifestyle`) 
    +budgetCategory(`fas`, `fa-donate`, `Donations`) 
    +budgetCategory(`fas`, `fa-file-invoice-dollar`, `Loans`) 
    +budgetCategory(`fas`, `fa-ambulance`, `Medical`)
  section.create-budget-form__row-container 
    section.create-budget-form__row-container__main-category-display 
      header.create-budget-form__row-container__main-category-display--header
        p.create-budget-form__row-container__main-category-display--header-text Main Categories 
      .create-budget-form__row-container__main-category-display-container 
    section.create-budget-form__row-container__sub-category-display 
      header.create-budget-form__row-container__sub-category-display--header
        p.create-budget-form__row-container__sub-category-display--header-text Sub Categories
      .create-budget-form__row-container__sub-category-display__sub-category-container
        .create-budget-form__row-container__sub-category-display__sub-category-container__container.add-sub-category 
          p.create-budget-form__row-container__sub-category-display__sub-category-container__container--header Add Sub-Category
          i.fas.fa-plus.add-sub-category--icon
  section.sub-category-modal
    i.fas.fa-window-close.sub-category-modal--close 
    label.sub-category-modal__label Sub Category Name 
    input.sub-category-modal__input#subCategory(type="text", name="subCategory" placeholder="Sub-Category Name")
    button.sub-category-modal__submit Create
