mixin profileButton(iconType, icon, text)
  button.user-profile-card__user-info__row__button 
    i.user-profile-card__user-info__row__button--icon(class=`${iconType} ${icon}`)
    p.user-profile-card__user-info__row__button--text= `${text}`

section.user-profile-background.r__user-profile-background.column_1-24.row_2-17 
    section.user-profile-card.r__user-profile-card
      section.user-profile-card__first-impression
        section.user-profile-card__first-impression__image-container
          img.user-profile-card__first-impression__image-container--image(src=`/DIST/CSS/Images/Users/${data.user.photo}` alt=`Photo of ${data.user.firstname} ${data.user.lastname}`)
          button.user-profile-card__first-impression__image-container__update-photo-button
            i.fas.fa-camera.user-profile-card__first-impression__image-container__update-photo-button--icon
            p.user-profile-card__first-impression__update-photo-button--text Update Photo        
        section.user-profile-card__first-impression__name-container
          p.user-profile-card__first-impression__name-container--first #{data.user.firstname}
          p.user-profile-card__first-impression__name-container--last #{data.user.lastname}
      section.user-profile-card__user-info
        section.user-profile-card__user-info__row
          +profileButton(`fas`, `fa-user-alt`, `Personal Information`)
          +profileButton(`fas`, `fa-lock`, `Password Management`)
        section.user-profile-card__user-info__row
          +profileButton(`fas`, `fa-mobile-alt`, `Communications`)
          +profileButton(`fas`, `fa-id-card`, `Account Management`)
        section.user-profile-card__user-info__profile-option-container 
          header.user-profile-card__user-info__profile-option-container__header Sample Title 
          section.user-profile-card__user-info__profile-option-container__content
            button.back-button 
                  i.fas.fa-arrow-alt-circle-left.back-button__icon 
                  p.back-button__text Go Back
            section.unique-profile-content-container.unique-profile-content-container__personal-information
              form.personal-information-form
                section.personal-information-form__form-section.r__personal-information-form__form-section
                  button.personal-information-form__button 
                    i.fas.fa-user-edit.personal-information-form__button__icon
                    p.personal-information-form__button__text Edit
                  section.personal-information-form__form-section__input-container.r__personal-information-form__form-section__input-container
                    input.personal-information-form__form-section__input-container__input.personal-information-form__form-section__input-container__input#firstname(type="text" name="firstname" placeholder="First Name" value=`${data.user.firstname}` readonly="true" required)
                    label.personal-information-form__form-section__input-container__label#firstnameLabel(for="firstname") Enter Your Preferred First Name
                section.personal-information-form__form-section.r__personal-information-form__form-section
                  button.personal-information-form__button 
                    i.fas.fa-user-edit.personal-information-form__button__icon
                    p.personal-information-form__button__text Edit
                  section.personal-information-form__form-section__input-container.r__personal-information-form__form-section__input-container
                    input.personal-information-form__form-section__input-container__input.personal-information-form__form-section__input-container__input#lastname(type="text" name="lastname" placeholder="Last Name" value=`${data.user.lastname}` readonly="true" required)
                    label.personal-information-form__form-section__input-container__label#lastnameLabel(for="lastname") Enter Your Preferred Last Name
                section.personal-information-form__form-section.r__personal-information-form__form-section
                  button.personal-information-form__button 
                    i.fas.fa-user-edit.personal-information-form__button__icon
                    p.personal-information-form__button__text Edit
                  section.personal-information-form__form-section__input-container.r__personal-information-form__form-section__input-container
                    input.personal-information-form__form-section__input-container__input.personal-information-form__form-section__input-container__input#username(type="text" name="username" placeholder="Username" value=`${data.user.username}` readonly="true" required)
                    label.personal-information-form__form-section__input-container__label#usernameLabel(for="username") Enter Your Preferred Username
            section.unique-profile-content-container.unique-profile-content-container__password-management 
              button.unique-profile-content-container__password-management__button 
                i.fas.fa-key.unique-profile-content-container__password-management__button--icon 
                p.unique-profile-content-container__password-management__button--text Change Password
              button.unique-profile-content-container__password-management__button 
                i.fas.fa-key.unique-profile-content-container__password-management__button--icon 
                p.unique-profile-content-container__password-management__button--text 2-Factor Auth Setup
              form.change-password-form
                section.change-password-form__form-section.r__change-password-form__form-section
                  input.change-password-form__form-section__input.change-password-form__form-section__input#currentPassword(type="password" name="currentPassword" placeholder="Current Password"  required)
                  label.change-password-form__form-section__label#currentPasswordLabel(for="currentPassword") Please Enter Current Password
                section.change-password-form__form-section.r__change-password-form__form-section
                  input.change-password-form__form-section__input.change-password-form__form-section__input#newPassword(type="password" name="newPassword" placeholder="New Password"  required)
                  label.change-password-form__form-section__label#newPasswordLabel(for="newPassword") Please Enter New Password
                section.change-password-form__form-section.r__change-password-form__form-section
                  input.change-password-form__form-section__input.change-password-form__form-section__input#newPasswordConfirmed(type="password" name="newPasswordConfirmed" placeholder="Confirm New Password"  required)
                  label.change-password-form__form-section__label#newPasswordConfirmedLabel(for="newPasswordConfirmed") Please Confirm New Password
                button.change-password-form__button.change-password-form__button#submitNewPassword(type="submit") Submit
            section.unique-profile-content-container.unique-profile-content-container__communications
            section.unique-profile-content-container.unique-profile-content-container__account-management