section.container--large.r__container--large 
  header.container--large__header.r__container--large__header
    i.fas.fa-file-invoice-dollar.container--large__header__icon.r__container--large__header__icon 
    p.container--large__header__title.r__container--large__header__title= `${data.calendar.getMonth().toUpperCase()}`
  section.budget-goal-summary-container.r__budget-goal-summary-container
    - let initialTotal = 0;
    - let subCategoryGoals = [];
    - data.budget.mainCategories.forEach(mc => mc.subCategories.forEach(sc => subCategoryGoals.push(sc.goalAmount)))
    - const overallBudget = subCategoryGoals.reduce((previous, current) => previous + current, initialTotal)
    - let initialSpent = 0;
    - let subCategorySpent = [];
    - data.budget.mainCategories.forEach(mc => mc.subCategories.forEach(sc => subCategorySpent.push(sc.amountSpent)))
    - const overallSpent = subCategorySpent.reduce((previous, current) => previous + current, initialTotal)
    - let overallPercentageSpent = overallSpent / overallBudget
    - if (isNaN(overallPercentageSpent)) overallPercentageSpent = 0
    section.budget-single-goal-summary.r__budget-single-goal-summary
      p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Budget
      p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${overallBudget.toFixed(2)}`
    section.budget-single-goal-summary.r__budget-single-goal-summary
      p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Spent
      p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${overallSpent.toFixed(2)}`
    section.budget-single-goal-summary.r__budget-single-goal-summary
      p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Remaining
      p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${(overallBudget - overallSpent).toFixed(2)}`
    section.budget-single-goal-summary.r__budget-single-goal-summary
      p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Percentage Spent
      p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `${(overallPercentageSpent).toFixed(2)}%`
    section.budget-single-goal-summary.r__budget-single-goal-summary
      p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Percentage of Month Remaining
      p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `${data.calendar.monthRemaining()}`
  section.container--large__category-container.r__container--large__category-container
    //- section.main-category-display.r__main-category-display
    //-   section.main-category-display__button-container.r__main-category-display__button-container
    //-     i.fas.fa-arrow-alt-circle-left.main-category-display__button-container__icon.r__main-category-display__button-container__icon.left.r__left
    //-   section.main-category-display__category-display.r__main-category-display__category-display
    //-     i.fas.main-category-display__category-display__icon
    //-     p.main-category-display__category-display__title.r__main-category-display__category-display__title Housing
    //-   section.main-category-display__button-container.r__main-category-display__button-container
    //-     i.fas.fa-arrow-alt-circle-right.main-category-display__button-container__icon.r__main-category-display__button-container__icon.right.r__right
    section.main-category-display.r__main-category-display
      section.main-category-display__button-container.r__main-category-display__button-container
        i.fas.fa-arrow-alt-circle-left.main-category-display__button-container__icon.r__main-category-display__button-container__icon.left.r__left
      section.main-category-display__category-display.r__main-category-display__category-display
            i.fas.main-category-display__category-display__icon(class=`${data.budget.mainCategories[0].icon}` data-category=`${0}`)
            p.main-category-display__category-display__title.r__main-category-display__category-display__title(data-category=`${0}`)= `${data.budget.mainCategories[0].title}`
            
      section.main-category-display__button-container.r__main-category-display__button-container
        i.fas.fa-arrow-alt-circle-right.main-category-display__button-container__icon.r__main-category-display__button-container__icon.right.r__right


    section.sub-category-display.r__sub-category-display
      section.sub-category-display__headers.r__sub-category-display__headers
        - const subCategoryHeaders = [`Category`, `Individual Payment`, `Spent`, `Remaining`, `Percentage Spent`] 
        each header in subCategoryHeaders
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container= `${header}`
      each category, mainIndex in data.budget.mainCategories 
        each subCategory, subIndex in category.subCategories 
          - let subOverallPercentageSpent = subCategory.amountSpent / subCategory.goalAmount
          - if (isNaN(subOverallPercentageSpent)) subOverallPercentageSpent = 0
          section.sub-category-display__sub-category.r__sub-category-display__sub-category(data-subCategory=`${mainIndex}`) 
            section.sub-category-display__sub-category__section.r__sub-category-display__sub-category__section
              p.sub-category-display__sub-category__section__content.r__sub-category-display__sub-category__section__content= `${subCategory.title}`
            section.sub-category-display__sub-category__section.r__sub-category-display__sub-category__section
              p.sub-category-display__sub-category__section__content.r__sub-category-display__sub-category__section__content= `$${subCategory.goalAmount.toFixed(2)}`
            section.sub-category-display__sub-category__section.r__sub-category-display__sub-category__section
              p.sub-category-display__sub-category__section__content.r__sub-category-display__sub-category__section__content= `$${subCategory.amountSpent.toFixed(2)}`
            section.sub-category-display__sub-category__section.r__sub-category-display__sub-category__section
              p.sub-category-display__sub-category__section__content.r__sub-category-display__sub-category__section__content= `$${(subCategory.goalAmount - subCategory.amountSpent).toFixed(2)}`
            section.sub-category-display__sub-category__section.r__sub-category-display__sub-category__section
              p.sub-category-display__sub-category__section__content.r__sub-category-display__sub-category__section__content= `${(subOverallPercentageSpent).toFixed(0)}%`