section.form__section.r__form__section
  section.month-container.r__month-container 
    header.month-container__header.r__month-container__header 
      i.fas.fa-file-invoice-dollar.month-container__header__icon.r__month-container__header__icon 
      p.month-container__header__title.r__month-container__header__title= `${data.calendar.getMonth()}`
    section.month-container__overall-budget-summary-container.r__month-container__overall-budget-summary-container 
      section.month-container__overall-budget-summary-container--single-summary.r__month-container__overall-budget-summary-container--single-summary
        p.month-container__overall-budget-summary-container--single-summary__title.r__month-container__overall-budget-summary-container--single-summary__title Overall Budget
        p.month-container__overall-budget-summary-container--single-summary__amount.r__month-container__overall-budget-summary-container--single-summary__amount= 0
      section.month-container__overall-budget-summary-container--single-summary.r__month-container__overall-budget-summary-container--single-summary
        p.month-container__overall-budget-summary-container--single-summary__title.r__month-container__overall-budget-summary-container--single-summary__title Overall Spent
        p.month-container__overall-budget-summary-container--single-summary__amount.r__month-container__overall-budget-summary-container--single-summary__amount= 0
      section.month-container__overall-budget-summary-container--single-summary.r__month-container__overall-budget-summary-container--single-summary
        p.month-container__overall-budget-summary-container--single-summary__title.r__month-container__overall-budget-summary-container--single-summary__title Overall Remaining
        p.month-container__overall-budget-summary-container--single-summary__amount.r__month-container__overall-budget-summary-container--single-summary__amount= 0
      section.month-container__overall-budget-summary-container--single-summary.r__month-container__overall-budget-summary-container--single-summary
        p.month-container__overall-budget-summary-container--single-summary__title.r__month-container__overall-budget-summary-container--single-summary__title Percentage Spent
        p.month-container__overall-budget-summary-container--single-summary__amount.r__month-container__overall-budget-summary-container--single-summary__amount= `${0}%`
      section.month-container__overall-budget-summary-container--single-summary.r__month-container__overall-budget-summary-container--single-summary
        p.month-container__overall-budget-summary-container--single-summary__title.r__month-container__overall-budget-summary-container--single-summary__title Percentage of Month Remaining
        p.month-container__overall-budget-summary-container--single-summary__amount.r__month-container__overall-budget-summary-container--single-summary__amount= `${data.calendar.monthRemaining()}`
    section.month-container__category-container.r__month-container__category-container
      section.main-category-display.r__main-category-display
        section.main-category-display__button-container.r__main-category-display__button-container
          i.fas.fa-arrow-alt-circle-left.main-category-display__button-container__icon.r__main-category-display__button-container__icon.left.r__left
        section.main-category-display__category-display.r__main-category-display__category-display
          i.fas.main-category-display__category-display__icon
          p.main-category-display__category-display__title.r__main-category-display__category-display__title Housing
        section.main-category-display__button-container.r__main-category-display__button-container
          i.fas.fa-arrow-alt-circle-right.main-category-display__button-container__icon.r__main-category-display__button-container__icon.right.r__right
      section.sub-category-display.r__sub-category-display
        section.sub-category-display__headers.r__sub-category-display__headers
          - const subCategoryHeaders = [`Category`, `Individual Payment`, `Spent`, `Remaining`, `Percentage Spent`] 
          each header in subCategoryHeaders
            section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container= `${header}`
        section.timing-container.r__timing-container.closed
          i.fas.fa-times.timing-container__closure-icon.r__timing-container__closure-icon
          section.timing-container__section.r__timing-container__section
            button.button--timing-button.r__button--timing-button
              span.icon-calendar-month.button--timing-button__icon.r__button--timing-button__icon
                span.path1
                span.path2
              p.button--timing-button__text.r__button--timing-button__text Monthly
            label.timing-container__section__label.r__timing-container__section__label Due Date
              input.timing-container__section__label__input.r__timing-container__section__label__input(type="date")
            button.button--timing-button-submit.r__button--timing-button-submit.timing-submit-button Submit

          section.timing-container__section.r__timing-container__section
            button.button--timing-button.r__button--timing-button
              span.icon-calendar-bi-month.button--timing-button__icon.r__button--timing-button__icon
                span.path1
                span.path2
                span.path3
              p.button--timing-button__text.r__button--timing-button__text Bi-Monthly
            label.timing-container__section__label.r__timing-container__section__label First Due Date
              input.timing-container__section__label__input.r__timing-container__section__label__input(type="date") 
            label.timing-container__section__label.r__timing-container__section__label Second Due Date
              input.timing-container__section__label__input.r__timing-container__section__label__input(type="date") 
            button.button--timing-button-submit.r__button--timing-button-submit.timing-submit-button Submit
          section.timing-container__section.r__timing-container__section
            button.button--timing-button.r__button--timing-button
              span.icon-calendar-bi-weekly.button--timing-button__icon.r__button--timing-button__icon
                span.path1
                span.path2
              p.button--timing-button__text.r__button--timing-button__text Bi-Weekly
            label.timing-container__section__label.r__timing-container__section__label Start Date
              input.timing-container__section__label__input.r__timing-container__section__label__input(type="date") 
            button.button--timing-button-submit.r__button--timing-button-submit.timing-submit-button Submit
          section.timing-container__section.r__timing-container__section
            button.button--timing-button.r__button--timing-button
              span.icon-calendar-week.button--timing-button__icon.r__button--timing-button__icon
                span.path1
                span.path2
              p.button--timing-button__text.r__button--timing-button__text Weekly
            label.timing-container__section__label.r__timing-container__section__label Weekday
              - const weekdays = [`Sunday`, `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday`]
              select.timing-container__section__label__select.r__timing-container__section__label__select
                each day, index in weekdays
                  option.timing-container__section__label__select__option.timing-container__section__label__select__option(value=`${index}`)= `${day}`
            button.button--timing-button-submit.r__button--timing-button-submit.timing-submit-button Submit