section.budget-creation-form__page__section.r__budget-creation-form__page__section
  section.budget-creation-form__page__section__month-container.r__budget-creation-form__page__section__month-container 
    header.budget-creation-form__page__section__month-container__header.r__budget-creation-form__page__section__month-container__header 
      i.fas.fa-file-invoice-dollar.budget-creation-form__page__section__month-container__header__icon.r__budget-creation-form__page__section__month-container__header__icon 
      p.budget-creation-form__page__section__month-container__header__title.r__budget-creation-form__page__section__month-container__header__title= `${data.calendar.getMonth()}`
    section.budget-creation-form__page__section__month-container__budget-goal-summary-container.r__budget-creation-form__page__section__month-container__budget-goal-summary-container 
      section.budget-single-goal-summary.r__budget-single-goal-summary
        p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Budget
        p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${0}`
      section.budget-single-goal-summary.r__budget-single-goal-summary
        p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Spent
        p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${0}`
      section.budget-single-goal-summary.r__budget-single-goal-summary
        p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Overall Remaining
        p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `$${0}`
      section.budget-single-goal-summary.r__budget-single-goal-summary
        p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Percentage Spent
        p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `${0}%`
      section.budget-single-goal-summary.r__budget-single-goal-summary
        p.budget-single-goal-summary__title.r__budget-single-goal-summary__title Percentage of Month Remaining
        p.budget-single-goal-summary__amount.r__budget-single-goal-summary__amount= `${data.calendar.monthRemaining()}`
    section.budget-creation-form__page__section__month-container__category-container.r__budget-creation-form__page__section__month-container__category-container
      section.main-category-display.r__main-category-display
        section.main-category-display__button-container.r__main-category-display__button-container
          i.fas.fa-arrow-alt-circle-left.main-category-display__button-container__icon.r__main-category-display__button-container__icon.left.r__left
        section.main-category-display__category-display.r__main-category-display__category-display
          i.fas.main-category-display__category-display__icon
          p.main-category-display__category-display__title.r__main-category-display__category-display__title Housing
        section.main-category-display__button-container.r__main-category-display__button-container
          i.fas.fa-arrow-alt-circle-right.main-category-display__button-container__icon.r__main-category-display__button-container__icon.right.r__right
      section.sub-category-display.r__sub-category-display
        section.sub-category-display__headers.r__sub-category-display__headers 
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container Category
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container Individual Payment
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container Spent
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container Remaining
          section.sub-category-display__headers__title-container.r__sub-category-display__headers__title-container Percent Spent
        section.sub-category-display__timing-container.r__sub-category-display__timing-container
          section.sub-category-display__timing-container__monthly-container.r__sub-category-display__timing-container__monthly-container
            button.sub-category-display__timing-container__monthly-container__button.r__sub-category-display__timing-container__monthly-container__button
              span.icon-calendar-month.sub-category-display__timing-container__bi-monthly-container__button__icon.r__sub-category-display__timing-container__bi-monthly-container__button__icon
                span.path1
                span.path2
              p.sub-category-display__timing-container__monthly-container__button__text.r__sub-category-display__timing-container__monthly-container__button__text Monthly
            label.sub-category-display__timing-container__monthly-container__label.r__sub-category-display__timing-container__monthly-container__label Due Date
              input.sub-category-display__timing-container__monthly-container__label__input.r__sub-category-display__timing-container__monthly-container__label__input(type="date")
            button.sub-category-display__timing-container__monthly-container__submit.r__sub-category-display__timing-container__monthly-container__submit Submit
          section.sub-category-display__timing-container__bi-monthly-container.r__sub-category-display__timing-container__bi-monthly-container
            button.sub-category-display__timing-container__bi-monthly-container__button.r__sub-category-display__timing-container__bi-monthly-container__button
              span.icon-calendar-bi-month.sub-category-display__timing-container__bi-monthly-container__button__icon.r__sub-category-display__timing-container__bi-monthly-container__button__icon
                span.path1
                span.path2
                span.path3
              p.sub-category-display__timing-container__monthly-container__button__text.r__sub-category-display__timing-container__monthly-container__button__text Bi-Monthly
            label.sub-category-display__timing-container__monthly-container__label.r__sub-category-display__timing-container__monthly-container__label First Due Date
              input.sub-category-display__timing-container__monthly-container__label__input.r__sub-category-display__timing-container__monthly-container__label__input(type="date") 
            label.sub-category-display__timing-container__monthly-container__label.r__sub-category-display__timing-container__monthly-container__label Second Due Date
              input.sub-category-display__timing-container__monthly-container__label__input.r__sub-category-display__timing-container__monthly-container__label__input(type="date") 
            button.sub-category-display__timing-container__monthly-container__submit.r__sub-category-display__timing-container__monthly-container__submit Submit
          section.sub-category-display__timing-container__bi-weekly-container.r__sub-category-display__timing-container__bi-weekly-container
            button.sub-category-display__timing-container__bi-weekly-container__button.r__sub-category-display__timing-container__bi-weekly-container__button
              span.icon-calendar-bi-weekly.sub-category-display__timing-container__bi-monthly-container__button__icon.r__sub-category-display__timing-container__bi-monthly-container__button__icon
                span.path1
                span.path2
              p.sub-category-display__timing-container__monthly-container__button__text.r__sub-category-display__timing-container__monthly-container__button__text Bi-Weekly
            label.sub-category-display__timing-container__monthly-container__label.r__sub-category-display__timing-container__monthly-container__label Start Date
              input.sub-category-display__timing-container__monthly-container__label__input.r__sub-category-display__timing-container__monthly-container__label__input(type="date") 
            button.sub-category-display__timing-container__monthly-container__submit.r__sub-category-display__timing-container__monthly-container__submit Submit
          section.sub-category-display__timing-container__weekly-container.r__sub-category-display__timing-container__weekly-container
            button.sub-category-display__timing-container__weekly-container__button.r__sub-category-display__timing-container__weekly-container__button
              span.icon-calendar-week.sub-category-display__timing-container__bi-monthly-container__button__icon.r__sub-category-display__timing-container__bi-monthly-container__button__icon
                span.path1
                span.path2
              p.sub-category-display__timing-container__monthly-container__button__text.r__sub-category-display__timing-container__monthly-container__button__text Weekly
            label.sub-category-display__timing-container__monthly-container__label.r__sub-category-display__timing-container__monthly-container__label Weekday
              - const weekdays = [`Sunday`, `Monday`, `Tuesday`, `Wednesday`, `Thursday`, `Friday`, `Saturday`]
              select.sub-category-display__timing-container__monthly-container__label__select.r__sub-category-display__timing-container__monthly-container__label__select
                each day in weekdays
                  option.sub-category-display__timing-container__monthly-container__label__select__option.sub-category-display__timing-container__monthly-container__label__select__option= `${day}`
            button.sub-category-display__timing-container__monthly-container__submit.r__sub-category-display__timing-container__monthly-container__submit Submit