extends baseEmail

block content
  table(style="position: relative; display: block; max-width: 600px; width: 600px; margin: 0 auto; padding: 0; border: 3px groove #BBBBBB77; border-top: none; border-bottom: none; background-color: #CCCCCC33; color: #333333;") 
    tbody
      tr.table-row
        td.table-data(style="position: relative; display: block; width: 89%; margin: 0 auto;")  
          blockquote.salutations(style="position: relative; border: none; margin: 0 auto 30px; text-indent: 20px; font-size: 16px; color: #333333;")= `${greeting} ${firstName} ${lastName},`
      tr.table-row 
        td.table-data(style="position: relative; display: block; width: 87%; margin: 0 auto;") 
          blockquote.salutations(style="position: relative; border: none; text-indent: 20px; font-size: 16px; color: #333333;") We all forget our username or password from time to time.  Good news for you!  Your username is #{userName}, and your password can be reset by a single click of the button below. 😃 👍
      tr.table-row(style="position: relative; display: block; text-align: center; width: 100%; padding: 10px 0;") 
        td.table-button(style="position: relative; display: block; width: 40%; margin: 0 auto; padding: 0; border: 2px solid #822ABA; border-radius: 15px; background-color: rgba(130,42,186,.6); color: #FAFAFA99;" onmouseover="this.style.backgroundColor = #822ABA; this.color = #FAFAFA;" onmouseleave="this.style.backgroundColor = #822ABA55; this.color = #FAFAFA99;")
          a.link(href=`${url}`, target="_blank" style="position: relative; display: block; width: 83.5%; padding: 20px; border-radius: 10px; margin: auto; font-size: 18px; text-decoration: none; color: rgba(250, 250, 250, .8)" onmouseover=" this.style.color = #FAFAFA;") Reset Your Password
      tr.disclaimer(style="postion: relative; margin: 0 auto; padding: 20px 0 0; display: block; width: 87%; font-size: 16px;" colspan="2")
        td.disclaimer-text(style="position: relative; text-align: center; padding: 0 20px;") If you had not requested this, or did not forget your username or password, please disregard this email. 😄 👍