extends baseEmail

block content
  tr.salutations-container(style="position: relative; display: block; font-size: 20px; color: #333333;" colspan="2")
    td.salutations-text(style="padding: 20px 10px 10px 30px;")= `${greeting} ${firstName} ${lastName},`
  tr.message-container(style="postioni: relative; display: block; width: 100%; font-size: 20px;" colspan="2")
    td.message(style="position: relative; padding: 40px 40px 10px; text-indent: 20px; text-align: center;")= `No worries about forgetting your username or password`
  tr.message-container(style="postion: relative; display: block; width: 100%; font-size: 20px;" colspan="2")
    td.message(style="position: relative; padding: 10px 40px 40px; text-indent: 20px; text-align: center;")= `Your username is ${username}, and changing your password is only one click away on the button below! 😃 👍`
  tr.message-container(style="postion: relative; display: block; width: 100%; font-size: 20px;" colspan="2")
    td.link-container(style="postion: relative; display: block; font-size: 20px; width: 40%; margin: 0 auto; border: 2px solid #822aba; border-radius: 20px;" colspan="2" )
      a.link#link(href=`${url}`, target="_blank" style="position: relative; display: block; text-align: center; text-decoration: none; width: 82%;  padding: 20px;" onmouseover="this.style.backgroundColor = #822aba; this.style.color = #FAFAFA;" onmouseleave="this.style.backgroundColor=#FAFAFA99; this.style.color=#822aba55") Reset Your Password
  tr.disclaimer(style="postion: relative; padding: 20px 0 0; display: block; width: 100%; font-size: 20px;" colspan="2")
    td.disclaimer-text(style="position: relative; text-align: center; padding: 0 20px;") If you had not requested this, or did not forget your email, please disregard this email. 😄 👍